:root{
  --accent:   #4412A3;
  /* --background:   #dddddd; */
  --background: #cacce3;
  --mid_accent: #5a0fc5;
  --light-accent: #9b2bbf;
  --dark-grey: #444444;
  --light-light-accent: #df96b0;
  --mail: #B745C3;
}

html {
  max-width: 1300px;
  margin: auto;
}

body {
  text-align: left;
  margin: .5em;
  padding: 0;
  font-family: 'Museo Sans Rounded', sans-serif;
  font-weight: normal;
  font-size: 15pt;
  background: var(--background);
  color: black;
  line-height: 125%;
}

h1 {
  font-size: 23pt;
  font-weight: bold;
  color: var(--accent);
}

img {
  margin: 1em;
}

a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid var(--light-accent);
}

a:hover {
  color: var(--light-light-accent);
  border-bottom: none;
}

p {
  margin-bottom: 0.5em;
}

small {
  color: var(--mail);
  font-weight: bold;
}

ul.inline li {
  float: center;
  display: inline;
  padding: 20px;
}

ul.inline > li > a {
  border-bottom: none;
}

li {
  margin: 0.5em 0;
}

.no_underline {
  border-bottom: none;
}

.name {
  font-size: 35pt;
  color: var(--mid_accent);
  padding: 0.2em 0;
  border-bottom: 4px dashed black;
  width: 100%;
}

.last_name {
  font-size: inherit;
  color: var(--dark-grey)
}

.project_title {
  font-family: 'Courier New';
  font-variant: small-caps;
  font-weight: bold;
  font-size: 16pt;
}

.date {
  font-family: 'Courier New';
  font-weight: bold;
  float: right;
}

.container {
  display: flex;
  align-items: center;
}

.row .column_l .column_r {
  box-sizing: border-box;
}

.separator {
  background-color: var(--dark-grey);
  height: 3px;
  border-radius: 4px;
  margin: 30px auto 8px;
}

.small_separator {
  float: center;
  background-color: var(--dark-grey);;
  height: 6px;
  border-radius: 4px;
  max-width: 200px;
  margin: 30px auto 8px;
}

.margin {
  margin-top: 3em;
}

/* Create two equal columns that floats next to each other */
.column_l {
  float: left;
  width: 48%;
  padding: 10px;
  border-right: 2px solid var(--dark-grey);
}

.column_r {
  float: left;
  width: 48%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .column_l {
    width: 100%;
    border-right: none;
  }
  .column_r {
    width: 100%;
  }
}

.course {
  font-style: italic;
  color: var(--dark-grey);
}

.keyword {
  font-weight: 600;
  color: var(--light-accent)
}

.publication {
  font-style: italic;
  font-size: 13pt;
}

.location {
  font-size: 13pt;
  color: var(--dark-grey);
}

.subjet {
  font-weight: lighter;
}

.copyright {
  font-size: 12pt;
  color: var(--dark-grey);
  text-align: right;
}

.asahi {
  transition: all 500ms;
}

.asahi:hover {
  transform: scale(1.3);
}

.ring-container {
  margin: auto;
  font-size: 11pt;
  background: -webkit-linear-gradient(0deg, #1a2389, #a12565);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ring-container a {
  border-bottom: none;
}

.ring-container a:hover {
  background: #d3506f;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}