@font-face {
  font-family: "Museo500";
  font-style: normal;
  font-weight: normal;
  src: local("Museo Sans Rounded 500"), url("MuseoSansRounded500.woff") format("woff");
}

@font-face {
  font-family: "Museo100";
  font-style: normal;
  font-weight: normal;
  src: local("Museo Sans Rounded 100"), url("MuseoSansRounded100.woff") format("woff");
}

@font-face {
  font-family: "FiraCode";
  font-style: normal;
  font-weight: normal;
  src: local("FiraCode Nerd Font Light"), url("FiraCodeNerdFont-Light.ttf") format("ttf");
}

:root {
  --accent: #3626A7;
  /* --background:   #dddddd; */
  --background: #EEF0F2;
  --mid-accent: #657ED4;
  --light-accent: #98B9F2;
  --dark-grey: #69696a;
  --light-light-accent: #d6d3e6;
  --mail: #4357AD;
  --webring: #4357AD;
}

html {
  max-width: 1300px;
  margin: auto;
}

body {
  text-align: left;
  margin: .5em;
  padding: 0;
  font-family: "Museo500";
  font-weight: normal;
  font-size: 15pt;
  background: var(--background);
  color: black;
  line-height: 125%;
}

h1 {
  font-size: 23pt;
  font-weight: bold;
  color: var(--accent);
}

h2 {
  font-size: 18pt;
  font-weight: bold;
  color: var(--mid-accent);
}

img {
  margin: 1em;
}

a {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid var(--mid-accent);
}

a:hover {
  color: var(--mid-accent);
  border-bottom: none;
}

p {
  margin-bottom: 0.5em;
}

small {
  color: var(--mail);
  font-weight: bold;
}

ul.inline li {
  float: center;
  display: inline;
  padding: 20px;
}

ul.inline>li>a {
  border-bottom: none;
}

li {
  margin: 0.5em 0;
}

.no_underline {
  border-bottom: none;
}

.name {
  font-size: 35pt;
  color: var(--mid-accent);
  padding: 0.4em 0;
  border-bottom: 4px dashed black;
  width: 100%;
}

.last_name {
  font-size: inherit;
  color: var(--dark-grey)
}

.project_title {
  font-family: "FiraCode";
  font-variant: small-caps;
  color: var(--dark-grey);
  font-size: 16pt;
}

.date {
  font-family: "Museo100";
  font-weight: bold;
  float: right;
}

.container {
  display: flex;
  align-items: center;
}

.row .column_l .column_r {
  box-sizing: border-box;
}

.separator {
  background-color: var(--dark-grey);
  height: 3px;
  border-radius: 4px;
  margin: 30px auto 8px;
}

.small_separator {
  float: center;
  background-color: var(--dark-grey);
  ;
  height: 6px;
  border-radius: 4px;
  max-width: 200px;
  margin: 30px auto 8px;
}

.margin {
  margin-top: 3em;
}

/* Create two equal columns that floats next to each other */
.column_l {
  float: left;
  width: 48%;
  padding: 10px;
  border-right: 2px solid var(--dark-grey);
}

.column_r {
  float: left;
  width: 48%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .column_l {
    width: 100%;
    border-right: none;
  }

  .column_r {
    width: 100%;
  }
}

.course {
  font-style: italic;
  color: var(--dark-grey);
}

.keyword {
  font-weight: 600;
  color: var(--mid-accent)
}

.publication {
  font-style: italic;
  font-size: 13pt;
}

.location {
  font-size: 13pt;
  color: var(--dark-grey);
}

.subjet {
  font-weight: lighter;
}

.copyright {
  font-size: 12pt;
  color: var(--dark-grey);
  text-align: right;
}

.asahi {
  transition: all 500ms;
}

.asahi:hover {
  transform: scale(1.3);
}

.ring-container {
  margin: auto;
  font-size: 13pt;
  color: var(--webring);
}

.ring-container a {
  font-size: 18;
  font-weight: bold;
  border-bottom: none;
  color: var(--webring);
}

.ring-container a:hover {
  color: var(--mid-accent);
}