:root {
  --background: #ffffff;
  --accent: #657ed4;
  --accent-comp: #d4bb65;
  --gray: #808080;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  background: var(--background);
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 500;
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  background-color: var(--accent-comp);
}

a:visited {
  color: var(--accent);
}

.container {
  margin: auto;
  max-width: 900px;
}

header {
  margin-top: -60px;
  width: 250px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

main {
  margin-left: 250px;
  margin-top: 100px;
  padding-left: 3em;
  font-size: 0.85em;
  text-align: justify;
}

.subtitle {
  font-size: 10pt;
  color: var(--gray);
  line-height: 1em;
  border-bottom: solid 1px var(--gray);
}

ul {
  margin: 0, 0;
  padding: 0;
  list-style: none;
}

ul.navbar li {
  padding-bottom: 1em;
}

ul.navbar li:last-child {
  padding-bottom: 0;
}

img.me {
  padding-top: 1.2em;
  width: 100%;
}

.section {
  border-bottom: solid 1px var(--gray);
  padding-bottom: 1em;
}

.section>p {
  color: var(--gray);
}

a>small {
  color: var(--gray);
}

.img-container {
  padding-bottom: 1em;
  padding-top: 1em;
}

.img-container>img {
  width: 100%;
}

.paper-title,
.talk-title,
.teaching-title,
.internship-title,
.education-degree,
.misc-title {
  font-weight: 600;
}

.paper-authors {
  margin-top: -0.5em;
  color: var(--gray);
  font-weight: 300;
  font-style: italic;
}

.paper-actions,
.project-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.paper-actions>button {
  justify-self: center;
  padding: 0.6em;
  width: 5.5em;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid var(--accent);
  color: var(--accent);
}

.paper-actions>a,
.project-links>a {
  justify-self: center;
  padding: 0.6em;
  width: 4em;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid var(--accent);
  color: var(--accent);
  text-align: center;
}

.paper-actions>button:hover,
.paper-actions>a:hover,
.project-links>a:hover {
  background-color: var(--accent-comp);
  cursor: pointer;
}

.paper-actions>button:first-child,
.paper-actions>a:first-child,
.project-links>a:first-child {
  justify-self: start;
}

.paper-actions>button:last-child,
.paper-actions>a:last-child,
.project-links>a:last-child {
  justify-self: end;
}

.abstract>p {
  color: var(--gray);
  font-weight: 300;
}

.talk-loc,
.teaching-level,
.internship-loc,
.education-loc {
  font-weight: 300;
  color: var(--gray);
}

table.projects {
  width: 100%;
  border-spacing: 2em 0;
}

table.projects td,
table.projects th {
  width: 50%;
  vertical-align: top;
  position: relative;
  padding-bottom: 4em;
}

.project-links-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

table.projects img {
  display: block;
  width: 90%;
  margin: 0 auto;
}

table.projects video {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.project-title {
  font-weight: 600;
  text-align: center;
  font-size: large;
}

.project-links>a {
  width: 4.6em;
  margin-bottom: 1em;
}

.ring-footer {
  margin-top: 0.5em;
  text-align: center;
}

.footer {
  padding: 2em 0em 2em 0em;
  text-align: center;
}

.misc-title {
  color: black;
}

/*---------------------------------------------------*/
/*---------------------------------------------------*/

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }

  img.me {
    width: 100%;
  }

  main {
    margin-left: 0px;
    padding-left: 0em;
  }

  header {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 0;
  }
}

@media (max-width: 450px) {
  img.me {
    width: 100%;
  }

  .img-container>img {
    width: 100%;
  }
}

/*---------------------------------------------------*/
/*---------------------------------------------------*/